body {
  padding: 50px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

h1 {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 55px;
	color: rgb(55, 55, 55);
	/*word-spacing: .2em;*/
}
